<?xml version="1.0" encoding="UTF-8"?>

<web-app id="Patapage" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <description>QA</description>

    <context-param>
        <param-name>configFile</param-name>
        <param-value>config.properties</param-value>
    </context-param>

    <!--filter>
    <filter-name>CaseSensitivityFilter</filter-name>
    <filter-class>org.jblooming.http.CaseSensitivityFilter</filter-class>
    </filter-->

    <filter>
        <filter-name>ByPassFilter</filter-name>
        <filter-class>org.jblooming.http.ByPassFilter</filter-class>
    </filter>

    <filter>
        <filter-name>CachingFilter</filter-name>
        <filter-class>org.jblooming.http.CachingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>MultipartFormFilter</filter-name>
        <filter-class>org.jblooming.http.multipartfilter.MultipartFormRequestEncodingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>FrontControllerFilter</filter-name>
        <filter-class>org.jblooming.waf.FrontControllerFilter</filter-class>
    </filter>

    <filter>
        <filter-name>QAFilter</filter-name>
        <filter-class>com.QA.waf.QAFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AccessControlFilter</filter-name>
        <filter-class>org.jblooming.waf.AccessControlFilter</filter-class>
    </filter>

    <!--filter-mapping>
    <filter-name>CaseSensitivityFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping-->

    <filter-mapping>
        <filter-name>ByPassFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CachingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MultipartFormFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>FrontControllerFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>FrontControllerFilter</filter-name>
        <url-pattern>*.jsonp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>QAFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AccessControlFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AccessControlFilter</filter-name>
        <url-pattern>*.properties</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.QA.waf.QALoader</listener-class>
    </listener>

    <servlet>
        <servlet-name>command</servlet-name>
        <servlet-class>org.jblooming.waf.CommandServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>command</servlet-name>
        <url-pattern>/command.jsp</url-pattern>
    </servlet-mapping>

    <!--error-page>
        <error-code>401</error-code>
        <location>/applications/QA/site/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/applications/QA/site/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/applications/QA/site/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>503</error-code>
        <location>/applications/QA/site/error.jsp</location>
    </error-page-->




</web-app>